{% assign sponsor1 = site.data.sponsors | where:"id", "1" | first %}
{% assign sponsor2 = site.data.sponsors | where:"id", "2" | first %}
    <div id="up-to-top" class="row">
      <div class="small-12 columns" style="text-align: right;">
      {% if page.previous %}
		<a class="iconfont" href="{{ site.url }}{{ site.baseurl }}{{ page.previous }}" title="previous">&#xf106;</a>
	  {% endif %}
	  {% if page.next %}
		<a class="iconfont" href="{{ site.url }}{{ site.baseurl }}{{ page.next }}" title="next">&#xf107;</a>
	  {% endif %}
        <a class="iconfont" href="#top-of-page">&#xf108;</a>
      </div><!-- /.small-12.columns -->
    </div><!-- /.row -->


    <footer id="footer-content" class="bg-grau">
      {% if page.hidefooter == false %}
      <div id="footer">
        <div class="row">
          <div class="medium-3 large-3 columns">
            <a id="footerlogo1" href="{{ sponsor1.url }}" title="{{ sponsor1.name }}">
				<img src="{{ site.url }}{{ site.baseurl }}{{ sponsor1.logo }}" alt="{{ sponsor1.name }}">
			</a>
          </div><!-- /.large-6.columns -->
          <div id="footercenter" class="small-6 medium-6 large-6  columns">
            <p>Images from <a href="http://researchmatters.ssrc.org/idrf-photo-competition-2017/">SSRC IDRF photo competition</a> winners Mackenzie Cramblit, Meghan Donnelly, Stefanie Graeter, Aubrey Graham, Aditi Saraf.<br/>
            Unless otherwise stated, all content on this site is © Social Science Research Council and licensed under a Creative Commons, Attribution Share-Alike (<a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode">CC-BY-SA</a>) license.</p>
          </div>
          <div class="medium-3 large-3 columns">
            <a id="footerlogo2" href="{{ sponsor2.url }}" title="{{ sponsor2.name }}">
				<img src="{{ site.url }}{{ site.baseurl }}{{ sponsor2.logo }}" alt="{{ sponsor2.name }}">
			</a>
          </div><!-- /.large-3.columns -->
        </div><!-- /.row -->

      </div><!-- /#footer -->
	{% endif %}

      <div id="subfooter">
        <nav class="row">
          <section id="subfooter-left" class="small-12 medium-6 columns credits">
            {{ site.credits }}
          </section>

          <section id="subfooter-right" class="small-12 medium-6 columns">
            <ul class="inline-list social-icons">
            {% for social_item in site.data.socialmedia %}
              <li><a href="{{ social_item.url }}" target="_blank" class="{{ social_item.class }}" title="{{ social_item.title }}"></a>{{ social_item.title }}</li>
            {% endfor %}
            </ul>
          </section>
        </nav>
      </div><!-- /#subfooter -->
    </footer>
